$color_dark-gray: rgb(90, 90, 90);
$color_light-gray: rgb(145, 144, 144);
$color_green: #629c2e;
$color_light-gray-border: #ccc;


$color_dark-text: #000;

$font_monospace: inconsolata, "courier new", courier, monospace;
$font_sans-serif: roboto, verdana, sans-serif;
$font_heading: roboto, sans-serif;
